<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.cashbang.core.modules.venuesbook.dao.BActivitiesMapper">
	
	<select id="listForPage" resultType="cn.cashbang.core.modules.venuesbook.entity.BActivitiesEntity">
		SELECT
			ba.`activity_id`, 
			ba.`venue_id`, 
			(select venue_name from b_venue_info bvi where bvi.venue_id = ba.venue_id) as venueName,
			ba.`uid`, 
			(select uname from b_user bu1 where bu1.`uid` = ba.`uid`) as userName,
			ba.`activity_id_name`, 
			ba.`activity_count`, 
			ba.`activity_type`, 
			ba.`activity_content`, 
			ba.`activity_icon_url`, 
			ba.`status`, 
			ba.`activity_time`, 
			ba.`create_time`, 
			ba.`update_time`
		FROM
			b_activities ba 
			<where>
			<if test="cgName != null and cgName != ''">
				and	exists (select 1 from b_venue_info bvi where bvi.`venue_id` = ba.`venue_id` and bvi.venue_name like concat('%',#{cgName},'%')) 
			</if>
			<if test="yyrName != null and yyrName != ''">
				and	exists (select 1 from b_user bu1 where bu1.`uid` = ba.`uid` and bu1.uname like concat('%',#{yyrName},'%')) 
			</if>
			<if test="acName != null and acName != ''">
				and	ba.`activity_id_name` like concat('%',#{acName},'%') 
			</if>
			<if test="aStatus != null and aStatus != ''">
				and	ba.`status` = #{aStatus} 
			</if>
			<if test="activityId != null and activityId != ''">
				and	ba.`activity_id` = #{activityId} 
			</if>
			</where>
		ORDER BY
			ba.activity_id DESC
	</select>

	<select id="listActByUserId" resultType="cn.cashbang.core.modules.venuesbook.entity.BActivitiesEntity">
		SELECT
		ba.`activity_id`,
		ba.`venue_id`,
		(select venue_name from b_venue_info bvi where bvi.venue_id = ba.venue_id) as venueName,
		ba.`uid`,
		ba.`activity_id_name`,
		ba.`activity_count`,
		ba.`activity_type`,
		ba.`activity_content`,
		ba.`activity_icon_url`,
		ba.`activity_time`
		FROM
		b_activity_entry bae left join 		b_activities ba
		on bae.activity_id = ba.activity_id
		where bae.status = 1 and bae.uid=#{uid}
		order by bae.create_time desc
	</select>
	
	<insert id="save">
		INSERT INTO b_activities (
			`activity_id`, 
			`venue_id`, 
			`uid`, 
			`activity_id_name`, 
			`activity_count`, 
			`activity_type`, 
			`activity_content`, 
			`activity_icon_url`, 
			`status`, 
			`activity_time`, 
			`create_time`, 
			`update_time`
		)
		VALUES (
			#{activityId}, 
			#{venueId}, 
			#{uid}, 
			#{activityIdName}, 
			#{activityCount}, 
			#{activityType}, 
			#{activityContent}, 
			#{activityIconUrl}, 
			#{status}, 
			#{activityTime}, 
			#{createTime}, 
			#{updateTime}
		)
	</insert>
	
	<select id="getObjectById" resultType="cn.cashbang.core.modules.venuesbook.entity.BActivitiesEntity">
		SELECT
			`activity_id`, 
			`venue_id`, 
			`uid`, 
			`activity_id_name`, 
			`activity_count`, 
			`activity_type`, 
			`activity_content`, 
			`activity_icon_url`, 
			`status`, 
			`activity_time`, 
			`create_time`, 
			`update_time`
		FROM
			b_activities
		WHERE
			activity_id = #{activityId}
	</select>
	
	<update id="update">
		UPDATE b_activities
	 	<set>
			<if test="venueId != null">`venue_id` = #{venueId}, </if>
			<if test="uid != null">`uid` = #{uid}, </if>
			<if test="activityIdName != null">`activity_id_name` = #{activityIdName}, </if>
			<if test="activityCount != null">`activity_count` = #{activityCount}, </if>
			<if test="activityType != null">`activity_type` = #{activityType}, </if>
			<if test="activityContent != null">`activity_content` = #{activityContent}, </if>
			<if test="activityIconUrl != null">`activity_icon_url` = #{activityIconUrl}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="activityTime != null">`activity_time` = #{activityTime}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		WHERE
			activity_id = #{activityId}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			b_activities
		WHERE
			activity_id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>