<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.cashbang.core.modules.venuesbook.dao.BActivityEntryMapper">
	
	<select id="listForPage" resultType="cn.cashbang.core.modules.venuesbook.entity.BActivityEntryEntity">
		SELECT
			`eid`, 
			`activity_id`, 
			`uid`, 
			`uname`, 
			`mobile`, 
			`ispresent`, 
			`status`, 
			`create_time`, 
			`update_time`
		FROM
			b_activity_entry 
			<where>
			<if test="activityId != null and activityId != ''">
				and	`activity_id` = #{activityId} 
			</if>
			</where>
		ORDER BY
			eid DESC
	</select>
	
	<insert id="save">
		INSERT INTO b_activity_entry (
			`eid`, 
			`activity_id`, 
			`uid`, 
			`uname`, 
			`mobile`, 
			`ispresent`, 
			`status`, 
			`create_time`, 
			`update_time`
		)
		VALUES (
			#{eid}, 
			#{activityId}, 
			#{uid}, 
			#{uname}, 
			#{mobile}, 
			#{ispresent}, 
			#{status}, 
			#{createTime}, 
			#{updateTime}
		)
	</insert>
	
	<select id="getObjectById" resultType="cn.cashbang.core.modules.venuesbook.entity.BActivityEntryEntity">
		SELECT
			`eid`, 
			`activity_id`, 
			`uid`, 
			`uname`, 
			`mobile`, 
			`ispresent`, 
			`status`, 
			`create_time`, 
			`update_time`
		FROM
			b_activity_entry
		WHERE
			eid = #{eid}
	</select>

	<select id="getUserListById" resultType="cn.cashbang.core.modules.venuesbook.entity.BActivityEntryEntity">
		SELECT
		`eid`,
		`activity_id`,
		`uid`,
		`uname`,
		`mobile`,
		`ispresent`,
		`status`,
		`create_time`,
		`update_time`
		FROM
		b_activity_entry
		WHERE
		`activity_id` = #{activityId}
		<if test="uid != null"> and `uid` = #{uid} </if>
	</select>
	
	<update id="update">
		UPDATE b_activity_entry
	 	<set>
			<if test="activityId != null">`activity_id` = #{activityId}, </if>
			<if test="uid != null">`uid` = #{uid}, </if>
			<if test="uname != null">`uname` = #{uname}, </if>
			<if test="mobile != null">`mobile` = #{mobile}, </if>
			<if test="ispresent != null">`ispresent` = #{ispresent}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where `activity_id` = #{activityId}  and `uid` = #{uid}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			b_activity_entry
		WHERE
			eid IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>