<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.cashbang.core.modules.venuesbook.dao.BPhotoInfoMapper">
	
	<select id="listForPage" resultType="cn.cashbang.core.modules.venuesbook.entity.BPhotoInfoEntity">
		SELECT
			bp.`pid`, 
			bp.`uid`, 
			(select `uname` from b_user u where u.`uid` = bp.`uid` ) as uname,
			(select `mobile` from b_user u where u.`uid` = bp.`uid` ) as mobile,
		    (select icon_url from b_user u where u.`uid` = bp.`uid` ) as iconUrl,
			bp.`content`, 
			bp.`piture_urls`, 
			bp.`committee_id`, 
			(select cname from b_committees bc where bc.`cid` = bp.`committee_id`) as committeeName,
			bp.`status`,
            bp.`address`,
            bp.`content_type`,
			bp.`create_time`, 
			bp.`update_time`
		FROM
			b_photo_info bp
		  <where>
			<if test="queryName != null and queryName != ''">
				and	exists (select 1 from b_user bu1 where bu1.`uid` = bp.`uid` and bu1.uname like concat('%',#{queryName},'%')) 
			</if>
			<if test="queryMobile != null and queryMobile != ''">
				and	exists (select 1 from b_user bu1 where bu1.`uid` = bp.`uid` and bu1.mobile like concat('%',#{queryMobile},'%')) 
			</if>
			<if test="queryAddress != null and queryAddress != ''">
				and	bp.`address` like concat('%',#{queryAddress},'%')
			</if>
			<if test="queryContent != null and queryContent != ''">
				and	bp.`content` like concat('%',#{queryContent},'%')
			</if>
			<if test="suoshuleixing != null and suoshuleixing != ''">
				and CONCAT(',',bp.`content_type`,',') like CONCAT('%,',#{suoshuleixing},',%') 
			</if>
			  <if test="queryUserId != null and queryUserId != ''">
				  and	bp.`uid` = #{queryUserId}
			  </if>
              <if test="committeeId != null and committeeId != ''">
                  and	bp.`committee_id` = #{committeeId}
              </if>
              <if test="operateId != null and operateId != ''">
                  and	bp.`operate_id` = #{operateId}
              </if>
              and bp.`status` != 2
			</where>
		ORDER BY
			bp.create_time DESC
	</select>
	
	<insert id="save">
		INSERT INTO b_photo_info (
			`pid`, 
			`uid`, 
			`content`, 
			`piture_urls`, 
			`committee_id`, 
			`status`,
			`address`,
			`content_type`,
			`create_time`, 
			`update_time`
		)
		VALUES (
			#{pid}, 
			#{uid}, 
			#{content}, 
			#{pitureUrls}, 
			#{committeeId}, 
			#{status},
			#{address},
			#{contentType},
			#{createTime}, 
			#{updateTime}
		)
	</insert>
	
	<select id="getObjectById" resultType="cn.cashbang.core.modules.venuesbook.entity.BPhotoInfoEntity">
		SELECT
			`pid`, 
			`uid`, 
			`content`, 
			`piture_urls`, 
			`committee_id`, 
			`status`,
			`address`,
			`content_type`,
			`create_time`, 
			`update_time`
		FROM
			b_photo_info
		WHERE
			pid = #{pid}
	</select>

    <select id="getOperateCount" resultType="int">
        SELECT
        count(*)
        FROM
        b_photo_info bp right join b_photo_reply r on r.photo_id = bp.pid
        where r.uid =#{operateId}
        and bp.status != 2
        <if test="month != null and month != ''">
            and  DATE_FORMAT(r.create_time, '%Y%m') = DATE_FORMAT(CURDATE( ) , '%Y%m' )
        </if>
        <if test="week != null and week != ''">
            and  YEARWEEK(date_format(r.create_time,'%Y-%m-%d')) = YEARWEEK(now())
        </if>
    </select>
	
	<update id="update">
		UPDATE b_photo_info
	 	<set>
			<if test="uid != null">`uid` = #{uid}, </if>
			<if test="content != null">`content` = #{content}, </if>
			<if test="pitureUrls != null">`piture_urls` = #{pitureUrls}, </if>
			<if test="committeeId != null">`committee_id` = #{committeeId}, </if>
			<if test="status != null">`status` = #{status}, </if>
            <if test="operateId != null">`operate_id` = #{operateId}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		WHERE
			pid = #{pid}
	</update>
	
	<delete id="batchRemove">
		 UPDATE 
			b_photo_info
			SET status = 2 
		WHERE
			pid IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<update id="passApply">
		 UPDATE 
			b_photo_info
			SET status = 1 
		WHERE
			pid IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>

    <select id="listReplyPage" resultType="cn.cashbang.core.modules.venuesbook.entity.BPhotoInfoEntity">
        SELECT
        bp.`pid`,
        bp.`uid`,
        (select `uname` from b_user u where u.`uid` = bp.`uid` ) as uname,
        (select `mobile` from b_user u where u.`uid` = bp.`uid` ) as mobile,
        (select icon_url from b_user u where u.`uid` = bp.`uid` ) as iconUrl,
        bp.`content`,
        bp.`piture_urls`,
        bp.`committee_id`,
        (select cname from b_committees bc where bc.`cid` = bp.`committee_id`) as committeeName,
        bp.`status`,
        bp.`address`,
        bp.`content_type`,
        bp.`create_time`,
        bp.`update_time`
        FROM
        b_photo_info bp right join b_photo_reply r on r.photo_id = bp.pid
        <where>
            <if test="queryUserId != null and queryUserId != ''">
                and	r.uid = #{queryUserId}
            </if>
            and bp.`status` != 2
        </where>
        group by bp.`pid`,bp.create_time
        ORDER BY bp.create_time DESC
    </select>

</mapper>