<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.cashbang.core.modules.venuesbook.dao.BTeamEntryMapper">
	
	<select id="listForPage" resultType="cn.cashbang.core.modules.venuesbook.entity.BTeamEntryEntity">
		SELECT
			`teid`, 
			`tid`,
			 uid,
			`mobile`, 
			`uname`, 
			`status`, 
			`create_time`, 
			`update_time`
		FROM
			b_team_entry
			<where>
			<if test="tid != null and tid != ''">
				and	`tid` = #{tid} 
			</if>
			</where>
		ORDER BY
			teid DESC
	</select>
	
	<insert id="save">
		INSERT INTO b_team_entry (
			`teid`, 
			`tid`,
			uid,
			`mobile`, 
			`uname`, 
			`status`, 
			`create_time`, 
			`update_time`
		)
		VALUES (
			#{teid}, 
			#{tid},
			#{uid},
			#{mobile}, 
			#{uname}, 
			#{status}, 
			#{createTime}, 
			#{updateTime}
		)
	</insert>
	
	<select id="getObjectById" resultType="cn.cashbang.core.modules.venuesbook.entity.BTeamEntryEntity">
		SELECT
			`teid`, 
			`tid`,
			 uid,
			`mobile`, 
			`uname`, 
			`status`, 
			`create_time`, 
			`update_time`
		FROM
			b_team_entry
		WHERE
			teid = #{teid}
	</select>
	
	<update id="update">
		UPDATE b_team_entry
	 	<set>
			<if test="tid != null">`tid` = #{tid}, </if>
			<if test="mobile != null">`mobile` = #{mobile}, </if>
			<if test="uname != null">`uname` = #{uname}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		WHERE
			teid = #{teid}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			b_team_entry
		WHERE
			teid IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>