<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.cashbang.core.modules.venuesbook.dao.BVenueInfoMapper">
	
	<select id="listForPage" resultType="cn.cashbang.core.modules.venuesbook.entity.BVenueInfoEntity">
		SELECT
			bvi.`venue_id`, 
			bvi.`venue_name`, 
			bvi.`max_people`, 
			bvi.`address`, 
			bvi.`describtion`, 
			bvi.`committee_id`, 
			(select cname from b_committees bc where bc.cid = bvi.committee_id) as committeeName,
			bvi.`support_active_type`, 
			bvi.`icon_url`,
            bvi.status,
            bvi.lock_id,
            bvi.key_id,
			bvi.`create_time`, 
			bvi.`update_time`
		FROM
			b_venue_info bvi
			<where>
			<if test="queryCGName != null and queryCGName != ''">
				and	bvi.venue_name like concat('%',#{queryCGName},'%') 
			</if>
			<if test="queryJWHName != null and queryJWHName != ''">
				and	exists (select 1 from b_committees bc where bc.`cid` = bvi.`committee_id` and bc.cname like concat('%',#{queryJWHName},'%')) 
			</if>
			<if test="queryActType != null and queryActType != ''">
				and	bvi.support_active_type like concat('%',#{queryActType},'%')
			</if>
			<if test="queryComId != null and queryComId != ''">
				and	bvi.committee_id = #{queryComId}
			</if>
			<if test="queryCount != null and queryCount != ''">
				<![CDATA[  and	bvi.max_people <= #{queryCount}   ]]>
			</if>
            <if test="queryWechat != null and queryWechat != ''">
                and	bvi.status = 0
            </if>
			</where>
		ORDER BY
			venue_id DESC
	</select>
	
	<insert id="save">
		INSERT INTO b_venue_info (
			`venue_id`, 
			`venue_name`, 
			`max_people`, 
			`address`, 
			`describtion`, 
			`committee_id`, 
			`support_active_type`, 
			`icon_url`, 
			`create_time`, 
			`update_time`
		)
		VALUES (
			#{venueId}, 
			#{venueName}, 
			#{maxPeople}, 
			#{address}, 
			#{describtion}, 
			#{committeeId}, 
			#{supportActiveType}, 
			#{iconUrl}, 
			#{createTime}, 
			#{updateTime}
		)
	</insert>
	
	<select id="getObjectById" resultType="cn.cashbang.core.modules.venuesbook.entity.BVenueInfoEntity">
		SELECT
			`venue_id`, 
			`venue_name`, 
			`max_people`, 
			`address`, 
			`describtion`, 
			`committee_id`, 
			`support_active_type`, 
			`icon_url`,
			status,
			`create_time`,
			lock_id,
			key_id,
			`update_time`
		FROM
			b_venue_info
		WHERE
			venue_id = #{venueId}
	</select>
	
	<select id="getBVenueInfoByName" resultType="cn.cashbang.core.modules.venuesbook.entity.BVenueInfoEntity">
		SELECT
			`venue_id`, 
			`venue_name`, 
			`max_people`, 
			`address`, 
			`describtion`, 
			`committee_id`, 
			`support_active_type`, 
			`icon_url`,
			status,
			`create_time`, 
			`update_time`
		FROM
			b_venue_info 
		WHERE
			venue_name = #{venueName} order by create_time desc limit 1 
	</select>
	
	<update id="update">
		UPDATE b_venue_info
	 	<set>
			<if test="venueName != null">`venue_name` = #{venueName}, </if>
			<if test="maxPeople != null">`max_people` = #{maxPeople}, </if>
			<if test="address != null">`address` = #{address}, </if>
			<if test="describtion != null">`describtion` = #{describtion}, </if>
			<if test="committeeId != null">`committee_id` = #{committeeId}, </if>
			<if test="supportActiveType != null">`support_active_type` = #{supportActiveType}, </if>
			<if test="iconUrl != null">`icon_url` = #{iconUrl}, </if>
            <if test="status != null">`status` = #{status}, </if>
            <if test="createTime != null">`create_time` = #{createTime}, </if>
            <if test="lockId != null">`lock_id` = #{lockId}, </if>
			<if test="keyId != null">`key_id` = #{keyId}, </if>
            <if test="lockData != null">`lock_data` = #{lockData}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		WHERE
			venue_id = #{venueId}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			b_venue_info
		WHERE
			venue_id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>