<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_element::header('随拍信息表')"></head>
<style>
html,body
{
    margin: 0;
    height: 100%;
}
</style>
<body>
  <dev id="zsvm"  style="height:100%;">
<el-form :model="bPhotoInfo" size=" small"  status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm"  style="overflow-y:auto;height:95%;
padding-right:5%" >
			 <el-form-item label="用户id" prop="uid">
			    <el-input v-model="bPhotoInfo.uid"></el-input>
			  </el-form-item>
			 <el-form-item label="内容" prop="content">
			    <el-input v-model="bPhotoInfo.content"></el-input>
			  </el-form-item>
			 <el-form-item label="图片地址逗号隔开" prop="pitureUrls">
			    <el-input v-model="bPhotoInfo.pitureUrls"></el-input>
			  </el-form-item>
			 <el-form-item label="社区id" prop="committeeId">
			    <el-input v-model="bPhotoInfo.committeeId"></el-input>
			  </el-form-item>
			 <el-form-item label="状态 1.正常 2.删除" prop="status">
			    <el-input v-model="bPhotoInfo.status"></el-input>
			  </el-form-item>
			 <el-form-item label="创建时间" prop="createTime">
			    <el-input v-model="bPhotoInfo.createTime"></el-input>
			  </el-form-item>
			 <el-form-item label="更新时间" prop="updateTime">
			    <el-input v-model="bPhotoInfo.updateTime"></el-input>
			  </el-form-item>
</el-form>
</dev>	
	<div th:include="include/footer_element::footer"></div>
	<script th:src="@{/js/venue/photoinfo/add.js}"></script>
</body>
</html>