<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_element::header('人人拍处理结果')"></head>
<style>
    html,body
    {
        margin: 0;
        height: 100%;
    }
</style>
<body>
<dev id="zsvm"  style="height:100%;">
    <el-form :model="bPhotoInfo" size=" small"  status-icon :rules="rules" ref="ruleForm" label-width="100px"
             class="demo-ruleForm"  style="overflow-y:auto;height:95%;
padding-right:5%" >
        <el-form-item label="反馈的内容" prop="content">
            <el-input v-model="bPhotoInfo.content" readonly="true"></el-input>
        </el-form-item>
        <el-form-item label="处理状态" prop="status" class="divHeight-54">
            <el-select v-model="bPhotoInfo.status" placeholder="请选择">
                <el-option label="已发布" value="0"></el-option>
                <el-option label="处理中" value="1"></el-option>
                <el-option label="已处理" value="3"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="评论内容" prop="remark">
            <el-input v-model="bPhotoInfo.remark"></el-input>
        </el-form-item>
    </el-form>
</dev>
<div th:include="include/footer_element::footer"></div>
<script th:src="@{/js/venue/photoinfo/edit.js}"></script>
</body>
</html>