<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_element::header('团队信息表')"></head>
<style>
html,body
{
    margin: 0;
    height: 100%;
}
</style>
<body>
  <dev id="zsvm"  style="height:100%;">
<el-form :model="bTeam" size=" small"  status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm"  style="overflow-y:auto;height:95%;
padding-right:5%" >
			 <el-form-item label="团长id" prop="uid">
			    <el-input v-model="bTeam.uid"></el-input>
			  </el-form-item>
			 <el-form-item label="姓名" prop="tname">
			    <el-input v-model="bTeam.tname"></el-input>
			  </el-form-item>
			 <el-form-item label="招募人数" prop="peopleCount">
			    <el-input v-model="bTeam.peopleCount"></el-input>
			  </el-form-item>
			 <el-form-item label="活动类型" prop="activityType">
			    <el-input v-model="bTeam.activityType"></el-input>
			  </el-form-item>
			 <el-form-item label="活动内容" prop="activityContent">
			    <el-input v-model="bTeam.activityContent"></el-input>
			  </el-form-item>
			 <el-form-item label="加入条件" prop="enterCondition">
			    <el-input v-model="bTeam.enterCondition"></el-input>
			  </el-form-item>
			 <el-form-item label="状态 1放开、2关闭、3满员、4.组队失败" prop="status">
			    <el-input v-model="bTeam.status"></el-input>
			  </el-form-item>
			 <el-form-item label="截止时间" prop="deadLine">
			    <el-input v-model="bTeam.deadLine"></el-input>
			  </el-form-item>
			 <el-form-item label="创建时间" prop="createTime">
			    <el-input v-model="bTeam.createTime"></el-input>
			  </el-form-item>
			 <el-form-item label="更新时间" prop="updateTime">
			    <el-input v-model="bTeam.updateTime"></el-input>
			  </el-form-item>
</el-form>
</dev>	
	<div th:include="include/footer_element::footer"></div>
	<script th:src="@{/js/venue/team/edit.js}"></script>
</body>
</html>