<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_element::header('召集人信息表')"></head>
<style>
html,body
{
    margin: 0;
    height: 100%;
}
</style>
<body>
  <dev id="zsvm"  style="height:100%;">
<el-form :model="bConvenerInfo" size=" small"  status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm"  style="overflow-y:auto;height:95%;
padding-right:5%" >
				<br>
			  <el-form-item label="审核" prop="status" class="divHeight-54">
				<el-select v-model="bConvenerInfo.status" placeholder="请选择">
				<el-option label="通过" value="1"></el-option>
				<el-option label="拒绝" value="2"></el-option>
				</el-select>
			</el-form-item>
</el-form>
</dev>	
	<div th:include="include/footer_element::footer"></div>
	<script th:src="@{/js/venue/convenerinfo/edit.js}"></script>
</body>
</html>