<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_element::header('召集人信息表')"></head>
<style>
body ,html{
  background:#eee;
}

.el-form-item {
    margin-bottom: 10px;
}

</style>
<body>
<div id="zsvm"  v-cloak>

  <el-card class="box-card"> 
  
  <!-- 搜索 -->
<!--    <el-collapse v-model="activeNames">
     <el-collapse-item title="" name="1" > -->
     
	   <el-form ref="form"  :inline="true" label-width="80px" size="mini"><!-- 搜索框 -->
		 <el-form-item label="" >
		        <el-input v-model="param.queryName" placeholder="请输入召集人姓名" @keyup.enter.native="load(0,0)"></el-input>
		  </el-form-item>
		 <el-form-item label="" >
		        <el-input v-model="param.queryMobile" placeholder="请输入召集人电话" @keyup.enter.native="load(0,0)"></el-input>
		  </el-form-item>
		  <el-form-item label="" >
		    <el-select v-model="param.queryStatus" placeholder="审核状态"  style="width:150px;">
				<el-option label="待审核" value="0"></el-option>
				<el-option label="已通过" value="1"></el-option>
				<el-option label="已拒绝" value=2></el-option>
		    </el-select>
		  </el-form-item>
		 <el-form-item>
		  <el-button onclick="reload();"   icon="el-icon-refresh"   ></el-button>
		  <el-button  icon="el-icon-search"   @click="load(1,10)" ></el-button>
		  <!-- <el-button type="warning" v-if="true||hasPermission('venuesbook:convenerinfo:save')"    @click="save"  icon="el-icon-plus"></el-button> -->
		</el-form-item>
		
		</el-form>
<!-- 	 </el-collapse-item>
	</el-collapse> -->
	
	<!-- table -->
    <el-table :data="table.data" border  style="width: 100%"   :height="$(window).height()*0.7" highlight-current-row size="small" @selection-change="selectCases" >
       <el-table-column   type="index"  width="50" label="序号"></el-table-column>
       <!-- <el-table-column type="selection"  width="40"> </el-table-column> --> <!-- 选择框 -->
      
      <el-table-column  :label="col.title"      :width="col.width"  v-for="col in table.col"    >
	       <template slot-scope="scope"  >
	       		<div v-if="col.formatter==undefined"> {{scope.row[col.field]}}</div>
	       		<div v-if="col.formatter!=undefined && typeof(col.formatter(scope.row[col.field],scope.row))=='string'"> 
	       			{{col.formatter(scope.row[col.field],scope.row)}}
	       	   </div>
	       	    <div v-if="col.formatter!=undefined && typeof(col.formatter(scope.row[col.field],scope.row))=='object'"> 
	       			 <el-tag :type="col.formatter(scope.row[col.field],scope.row).type"   effect="dark" style="width:100%" >
	       				{{col.formatter(scope.row[col.field],scope.row).value}}
	       			</el-tag>
	       	   </div>
	      </template>
       </el-table-column>
       <el-table-column
                prop="picture"
                header-align="center"
                align="center"
                width="180px"
                label="图片">
            <template slot-scope="scope">
                <el-popover
                        placement="right"
                        title=""
                        trigger="hover">
                    <img :src="scope.row.idcardFrontUrl" width="500"/>
                    <img slot="reference" :src="scope.row.idcardFrontUrl" :alt="scope.row.idcardFrontUrl" style="max-height: 33px;max-width: 130px">
                </el-popover>
            </template>
        </el-table-column>
        <el-table-column
                prop="picture"
                header-align="center"
                align="center"
                width="180px"
                label="图片">
            <template slot-scope="scope">
                <el-popover
                        placement="right"
                        title=""
                        trigger="hover">
                    <img :src="scope.row.idcardBackUrl" width="500"/>
                    <img slot="reference" :src="scope.row.idcardBackUrl" :alt="scope.row.idcardBackUrl" style="max-height: 33px;max-width: 130px">
                </el-popover>
            </template>
        </el-table-column>
         <el-table-column   label="审核状态" type="text" width="100">
            <template   slot-scope="scope" >
                <div v-html="scope.row.statusDesc" v-if="scope.row.statusDesc == '待审核'" ></div>
                <div v-html="scope.row.statusDesc" v-else-if="scope.row.statusDesc == '已通过'" style="color:#00CC00"></div>
                <div v-html="scope.row.statusDesc" v-else="scope.row.statusDesc == '已拒绝'" style="color: #CC0000"></div>
            </template>
        </el-table-column>
        
         <el-table-column   label="申请时间" type="text" width="150">
            <template   slot-scope="scope" >
                <div v-html="scope.row.createTime"></div>
            </template>
        </el-table-column>
         <el-table-column   label="审核时间" type="text" width="150">
            <template   slot-scope="scope" >
                <div v-html="scope.row.createTime"></div>
            </template>
        </el-table-column>
      
    <el-table-column   label="操作"  fixed="right"  width="200">
              <template scope="scope" >
              		<el-button :plain="true" type="danger" size="mini" @click="edit(scope.row)"
                  				v-if="scope.row.statusDesc == '待审核'"  >审核</el-button>
                    <el-button :plain="true" type="danger" size="mini" @click="edit(scope.row)"
                             v-if="scope.row.statusDesc == '已通过'"  disabled>审核</el-button>
                    <el-button :plain="true" type="danger" size="mini" @click="edit(scope.row)"
                             v-if="scope.row.statusDesc == '已拒绝'"  disabled>审核</el-button>
                    <el-button :plain="true" type="danger" size="mini" icon="el-icon-delete" @click="remove(scope.row)"
                  		v-if="true||hasPermission('venuesbook:convenerinfo:remove')"  ></el-button>删除
              </template>
              
         </el-table-column>
    </el-table>
    </el-table>
	 <div class="block"> <!-- 页码 -->
    <el-pagination
      @size-change="handleSizeChange"  @current-change="handleCurrentChange" :current-page.sync="table.sync"
      :page-sizes="table.pagesizes"  :page-size="table.pagesize"  layout="total, sizes, prev, pager, next, jumper"  :total="table.total">
    </el-pagination>
  </div>
  </el-card>
</div>

<div th:include="include/footer_element::footer"></div>
<script th:src="@{/js/venue/convenerinfo/list.js}"></script>

</body>
</html>