<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="footer">
<!-- 		<script th:src="@{../../libs/jquery.min.js}"></script>
		    <script th:src="@{../../libs/echarts.js}"></script>
		    <script th:src="@{../../libs/vue.min.js}"></script>
 -->

<!-- oss方式获取 -->
<script src="https://dbzloan-pkg.oss-cn-beijing.aliyuncs.com/static/libs/jquery.min.js"></script>
<script src="https://dbzloan-pkg.oss-cn-beijing.aliyuncs.com/static/libs/echarts.js"></script>
<script src="https://dbzloan-pkg.oss-cn-beijing.aliyuncs.com/static/libs/vue.min.js"></script>

	
<script th:src="@{../../plugins/layui-v2.4.3/layui/layui.js}"></script>
<script th:src="@{../../js/common_app.js}"></script>
	
	
	</div>
</body>
</html>