<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="footer">
		<script th:src="@{../../libs/jquery.min.js}"></script>
		<script th:src="@{../../js/lang/commen_lang.js}"></script>
 	    <script th:src="@{../../plugins/layer/layer.js}"></script>
		<script th:src="@{../../libs/vue.min.js}"></script>
		<script th:src="@{../../plugins/validator/validator.js}"></script>
		<script th:src="@{../../plugins/laydate/laydate.js}"></script>
		<script th:src="@{../../js/common.js}"></script>
		<script th:src="@{../../js/form.js}"></script>
		<script th:src="@{../../plugins/layui-v2.4.3/layui/layui.js}"></script>
				<script th:src="@{../../plugins/vue-i18n.js}"></script>
				
	<!-- 		<script th:src="@{../../libs/echarts.js}"></script>
 -->			
<script src="https://dbzloan-pkg.oss-cn-beijing.aliyuncs.com/static/libs/echarts.js"></script>
		
</div>
</body>
</html>
<!-- 个人报告分析部分页面使用不在使用bookstrapcss和js -->


