<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_element::header('banner图表')"></head>
<style>
html,body
{
    margin: 0;
    height: 100%;
}
</style>
<body>
  <dev id="zsvm"  style="height:100%;">
<el-form :model="bBannerInfo" size=" small"  status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm"  style="overflow-y:auto;height:95%;
padding-right:5%" >
			 <el-form-item label="轮播描述" prop="bannerDesc" label-width="150px">
			    <el-input style="width:14em" v-model="bBannerInfo.bannerDesc"></el-input>
			  </el-form-item>
			  <!-- <el-form-item label="轮播类型" label-width="150px" prop="bizztype" class="divHeight-54">
				<el-select v-model="bBannerInfo.bizztype" placeholder="请选择">
				<el-option label="首页" value="1"></el-option>
				<el-option label="随拍" value="2"></el-option>
				</el-select>
			</el-form-item> -->
			  <el-form-item label="图片：" label-width="150px" prop="bannerImgUrl">
					<el-upload
						class="avatar-uploader"
						action="/common/upload.do"
						:show-file-list="false"
						:on-success="handleAvatarSuccess"
						:before-upload="beforeAvatarUpload">
						<img v-if="imageUrl" :src="imageUrl" class="avatar">
					<i v-else class="el-icon-plus avatar-uploader-icon"></i>
					<div slot="tip" class="el-upload__tip">仅支持jpg、png格式的图片</div>
					</el-upload>
			</el-form-item>
			 <el-form-item label="排序号" prop="sortid" label-width="150px">
			    <el-input style="width:8em" v-model="bBannerInfo.sortid" placeholder="数值大靠前"></el-input>
			  </el-form-item>
			  <el-form-item label="启用禁用" label-width="150px" prop="isuse" class="divHeight-54">
				<el-select v-model="bBannerInfo.isuse" placeholder="请选择">
				<el-option label="启用" value="1"></el-option>
				<el-option label="禁用" value="0"></el-option>
				</el-select>
			</el-form-item>
</el-form>
</dev>	
	<div th:include="include/footer_element::footer"></div>
	<script th:src="@{/js/venue/banner/add.js}"></script>
	<script th:src="@{/js/compress.js}"></script>
	<link th:href="@{../../css/image-avatar.css}" rel="stylesheet"/>
</body>
</html>