<!DOCTYPE html>
<html>
<head th:include="include/header_element::header('')"></head>

<body>
	<div id="zsvm" v-cloak>
		<el-card class="box-card">
		<div slot="header" class="clearfix">
			<span >{{base}}</span>
		</div>
		<div >{{msg}}</div>
		</el-card>

	</div>


	<div th:include="include/footer_element::footer"></div>
<script type="text/javascript">

var vm=new Vue({
	el:"#zsvm",
	data:{
		 zs_loc : localStorage.getItem('locale'),
		 user:{},
		 msg:"",
		 base:"",
	},
	created:function(){
		this.msg_user();
	},
	methods:{
		msg_user:function () {
			var th=this;
			zs_post({
				url : '../../sys/user/info?_' + $.now(),
				async : false,
				success : function(r) {
					user = r.user;
					console.log(user);
					if (th.zs_loc == null || th.zs_loc == "zh") {
						th.msg=
								"欢迎您," + user.chnName + "(" + user.username
										+ "),部门:("
										+ user.orgName + ")。";
						th.base="基本信息";
					} else if (vm.zs_loc == "en") {
						th.msg=
								"Welcome," + user.chnName + "(" + user.username
										+ "),nowChannel:" + user.channelName
										+ "(" + user.channel + "),department:("
										+ user.orgName + ")。";
						th.base="base information";

					}
				}
			});
		},
	},
	
	
})


		
</script>
</body>
</html>