<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_element::header('活动报名记录表')"></head>
<style>
html,body
{
    margin: 0;
    height: 100%;
}
</style>
<body>
  <dev id="zsvm"  style="height:100%;">
<el-form :model="bActivityEntry" size=" small"  status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm"  style="overflow-y:auto;height:95%;
padding-right:5%" >
			 <el-form-item label="活动id" prop="activityId">
			    <el-input v-model="bActivityEntry.activityId"></el-input>
			  </el-form-item>
			 <el-form-item label="用户id" prop="uid">
			    <el-input v-model="bActivityEntry.uid"></el-input>
			  </el-form-item>
			 <el-form-item label="姓名" prop="uname">
			    <el-input v-model="bActivityEntry.uname"></el-input>
			  </el-form-item>
			 <el-form-item label="手机号" prop="mobile">
			    <el-input v-model="bActivityEntry.mobile"></el-input>
			  </el-form-item>
			 <el-form-item label="是否到场" prop="ispresent">
			    <el-input v-model="bActivityEntry.ispresent"></el-input>
			  </el-form-item>
			 <el-form-item label="报名状态 1.成功 2.取消" prop="status">
			    <el-input v-model="bActivityEntry.status"></el-input>
			  </el-form-item>
			 <el-form-item label="创建时间" prop="createTime">
			    <el-input v-model="bActivityEntry.createTime"></el-input>
			  </el-form-item>
			 <el-form-item label="更新时间" prop="updateTime">
			    <el-input v-model="bActivityEntry.updateTime"></el-input>
			  </el-form-item>
</el-form>
</dev>	
	<div th:include="include/footer_element::footer"></div>
	<script th:src="@{/js/venue/activityentry/edit.js}"></script>
</body>
</html>