<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_element::header('社区活动信息表')"></head>
<style>
html,body
{
    margin: 0;
    height: 100%;
}
</style>
<body>
  <dev id="zsvm"  style="height:100%;">
<el-form :model="bCommunityActivities" size=" small"  status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm"  style="overflow-y:auto;height:95%;
padding-right:5%" >
			 <el-form-item label="活动名称" prop="activityName">
			    <el-input v-model="bCommunityActivities.activityName"></el-input>
			  </el-form-item>
			 <el-form-item label="活动人数" prop="activityCount">
			    <el-input v-model="bCommunityActivities.activityCount"></el-input>
			  </el-form-item>
			 <el-form-item label="活动类型" prop="activityType">
			    <el-input v-model="bCommunityActivities.activityType"></el-input>
			  </el-form-item>
			 <el-form-item label="活动内容" prop="activityContent">
			    <el-input v-model="bCommunityActivities.activityContent"></el-input>
			  </el-form-item>
			 <el-form-item label="活动时段" prop="activityTime">
                 <el-date-picker
                         v-model="bCommunityActivities.activityTime"
                         :picker-options="pickerOptions1"
                         type="date"
                         format="yyyy-MM-dd"
                         value-format="yyyy-MM-dd"
                         placeholder="选择日期">
                 </el-date-picker>
			  </el-form-item>
</el-form>
</dev>	
	<div th:include="include/footer_element::footer"></div>
	<script th:src="@{/js/venue/comactivity/edit.js}"></script>
</body>
</html>